<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="accountlogin.registrationapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- android:windowSoftInputMode="adjustNothing" -->
    <!-- android:screenOrientation="portrait" -->
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".StoreAndDepartmentSetupActivity" />
        <activity
            android:name=".AisleBaySetup"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".ShelvingSetup"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".AddInventory"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".EditStoreAndDepartmentActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity android:name=".StoreLayoutActivity" />
        <activity
            android:name=".SearchInventoryActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".ShelvingAddEditActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".SearchInventoryByDepartmentActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".EditInventoryActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".SearchInventoryByKeyword"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".ManageAccountActivity"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity android:name=".LoginStoreEmployee" />
        <activity android:name=".ManageUserPermissionsAddUser" />
        <activity android:name=".ManageUserPermissionsMainPage" />
        <activity android:name=".ManageUserPermissionsEditUser" />
        <activity android:name=".ManageUserPermissionsDeleteUser" />

    </application>

</manifest>